commands:
  01_install_dependencies:
    command: "sudo dnf install -y python3-pip augeas-libs"
  02_create_venv:
    command: "sudo python3 -m venv /opt/certbot/"
  03_upgrade_pip:
    command: "sudo /opt/certbot/bin/pip install --upgrade pip"
  04_install_certbot:
    command: "sudo /opt/certbot/bin/pip install certbot certbot-nginx"
  05_link_certbot:
    command: "sudo ln -sf /opt/certbot/bin/certbot /usr/bin/certbot"
